#map {
    position:absolute;
    left: 0px;
    right:0px;
    top: 0px;
    bottom:0px;
}
#legend {
    position: absolute;
    right: 10px;
    top: 4ex;
}
.ol-attribution.ol-uncollapsible {
    height: auto;
}
.ol-attribution.ol-uncollapsible ul li {
    display: block;
}
#playback {
    position:absolute;
    top:0.5ex;
    right:10px;
    background-color:rgba(255,255,255,.8);
}
#timeFrame{
    display:inline;
    padding-left: 5px;
}
#timeFrame:empty{
    display:inline;
    padding-left: 0px;
}